//my style.scss
/* Mobile-first styling code */
/* If the screen size is <= 599px */

header {
  //
  .theSpinner {
    display: none;
  }
  // background-color: coral;

  .logoContainer {
    // border: 1px solid red;
    width: 100%;
    margin-top: 100px; // top and bottom margin
    text-align: center;
  }

  .theLogo {
    width: 200px;
  }

  .chooseParent {
    // border: 1px solid orange;
    font-size: 1em;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dropDown {
    // background-color: chartreuse;
    // border: 1px solid orange;
    margin: 20px;
  }

  // Modify the Header, for the tablet configuration
  @include tablet {
    display: flex;
    align-items: center;

    .logoContainer {
      padding-left: 8%;
      width: 25%;
      text-align: left;
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .chooseParent {
      margin-top: -11px;
    }
  }
  // modify the Header, for the desktop configuration
  @include desktop {
    //
    // max-width: 1100px;
    .logoContainer {
      padding-left: 0;
      width: 20%;
    }
  }
} // end of the header class code

.nycArticles {
  // background-color: pink;
  display: grid;
  grid-template-columns: 1fr;
  // gap: 1rem;
  cursor: pointer;

  .figCell {
    // background-color: yellow;
    position: relative;
  }

  .abstract {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    font-size: small;
    color: #c2c2c2;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
  }

  .articleImage {
    object-fit: cover; // this will clip the image, to fit.
    height: 250px;
    width: 100%;
    // margin: 0 auto;
  }

  // Hover is not working
  &:hover {
    // background: blue;
    border-color: violet;
  }
  // Modify the Articles, for the tablet configuration

  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;
  }

  // Modify the Articles, for the desktop configuration
  @include desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
} // end of nycArticles class code

footer {
  // background-color: green;
  // border: 1px solid yellow;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 0.9em;
  @include desktop {
    text-align: left;
    padding-left: 20px;
  }
}
